*
{
    padding: 0px;
    margin: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.gitar:hover{
   cursor: pointer;
   filter: grayscale(90%);
  
}
.a
{
    /* border: 2px solid black; */
    height: 50px;
    width: 100%;
    background-color:#fdc500;
    
}
.b
{
    /* border: 2px solid red; */
    height: 710px;
    width: 100%;
    background-image: url(party1.jpg);
    background-repeat: no-repeat;
    background-size: 100% 710px;
    opacity: 0.85;
}
.c
{
    /* border: 2px solid yellow; */
    height: 40px;
    width: 100%;
    display: flex;
}
.d
{
    /* border: 2px solid rgb(228, 12, 12); */
    height: 100px;
    width: 300px;
    color:white;
    margin-left: 80px;
    margin-top: 15px;
}
.e
{
    /* border: 2px solid purple; */
    height: 100px;
    width: 610px;
    color:white;
    margin-left: 150px;
    margin-top: 25px;
}
a{
   color: white;
   margin-left: 20px;
   font-size: 23px;
   text-decoration: none;
   padding-top: 25px;
    font-family: 'Rubik', sans-serif; 
    /* padding-top: 20px; */
    transition: .3s all linear;
}
a:hover
{
    color: #ff4800;
    
}
.f
{
    /* border: 2px solid rgb(55, 0, 128); */
    height: 50px;
    width: 100px;
   
    margin-left: 100px;
     
}
.frst{
   font-size: 20px;   transition: all .3s linear;  width: 120px;height: 40px;margin-top: 16px;   border-radius: 20px;color: white;background-color: orange;
}
.frst:hover{
cursor: pointer;
background-color: #b620dc;;
color: white;
}
button 
{
 
    background-color: #fb5607;
    border-radius: 25px;  
    margin-top: 15px;
    color:white;
    height: 30px;
    width:100px ;
    border: none;
    cursor: pointer;
}
button:hover
{
    color: lime;
    background-color:hotpink
}
.g
{
    /* border: 2px solid rgb(255, 102, 0);  */
    height: 250px;
    width: 700px;
   margin-top: 150px;
    margin-left: 330px;
    text-align: center;
   
}
 .h
 {
    /* border: 2px solid gold;  */
    height: 550px;
    width: 100%;
    display: flex;
    background-image: url(12.jpg);
    background-repeat: no-repeat;
    background-size: 100% 710px;
    opacity: 0.85;
    
 }
 .i
 {
    /* border: 2px solid rgb(255, 0, 170);  */
    height: 400px;
    width: 600px;
    margin-top: 60px;
    margin-left: 30px;
 }
 .k
 {
    /* border: 2px solid rgb(0, 110, 255);  */
    height: 390px;
    width: 470px;
    margin-top: 60px;
    margin-left: 110px;
    background-image: url(2fri.jpg);
    background-repeat: no-repeat;
    background-size: 500px 390px;
    border-radius: 20px;
    border: none
    
 }
 .l
 {
    border: 2px solid rgb(0, 255, 136); 
    height: 100px;
    width: 440px;
    margin-top: 270px;
    margin-left: 15px;
    background-color: white;
    border-radius: 20px;
    border: none;
    opacity: .70;
    display: flex;
 }
 .m
 {
    /* border: 2px solid red; */
    height: 100px;
    width: 100px;
    margin-left: 18px;
    margin-top: 15px;
        
 }
 .n
 {
    /* border: 2px solid rgb(98, 0, 255); */
    height: 70px;
    width: 290px;
 margin-left: 8px;
 margin-top: 15px;
 }
 .o
 {
    /* border: 2px solid rgb(0, 255, 255); */
    height: 800px;
    width: 100%;
    display: flex;

 }
 .p
 {
    /* border: 2px solid rgb(255, 0, 43); */
    height: 600px;
    width: 400px;
    margin-left: 200px;
    margin-top: 150px;
    border-radius: 20px;
    background-image: url(gui.jpg);
    background-repeat: no-repeat;
    background-size: 400px 600px;

 }
 .q
 {
    /* border: 2px solid rgb(140, 0, 255); */
    height: 300px;
    width: 400px;
    margin-left: 30px;
    margin-top: 150px;
    border-radius: 20px;
    background-image: url(band.jpeg);
    background-repeat: no-repeat;
    background-size: 400px 300px;
 }
 .r
 {
    /* border: 2px solid rgb(255, 0, 179); */
    height: 800px;
    width: 100%;
    background-image: url(back.jpg);
    background-repeat: no-repeat;
    background-size: 100% 800px;
    border-radius: 15px;
 }
 
 .s
 {
    /* border: 2px solid rgb(0, 255, 76); */
    height: 30px;
    width: 220px;
    margin-top: 70px;
    margin-left: 550px;
    padding: 10px 60px;
 }
 .t
 {
   /* border: 1px solid rgb(243, 243, 77); */
    height: 580px;
    width: 1180px;  
    margin-top: 60px;
    margin-left: 70px; 
  
    
    
 }
 .u
 {
    /* border: 2px solid rgb(17, 0, 255); */
    height: 600px;
    width: 100%;
    background-color: e2eafc;
    display: flex;
 }
 .v
 {
    border: 3px dotted  black;
    height: 400px;
    width: 610px;
    margin-left: 50px;
    margin-top: 120px;
    border-radius: 20px;
 }
 .y
 {
   /* border: 2px solid  rgb(247, 10, 10); */
   height: 130px;
   width: 100%; 
   display: flex;
 }
 .z
 {
   /* border: 2px solid rgb(9, 32, 238); */
    height: 65px;
    width: 240px;
    margin-left: 18px;
    margin-top: 18px;
 }
 .ab
 {
   /* border: 2px solid rgb(9, 238, 112); */
   /* height: 110px; */
   /* width: 200px; */
   margin-left: 150px;
   margin-top: 15px;
   background-image: url(cirlogo.png);
   background-repeat: no-repeat;
   background-size: 120px 110px;
   background-color: #fdc500;
   border-bottom-left-radius: 30px;
   border-top-right-radius: 30px;
   padding: 10px;
 }
 .ac
 {
   /* border: 2px solid  rgb(231, 247, 10); */
   height: 300px;
   width: 100%; 
   display: flex;
   padding: 15px;
 }
 .ad
 {
   /* border: 2px solid  rgb(10, 247, 69); */
   height: 200px;
    width: 280px;
    margin-left: 18px;
    margin-top: 23px;
 }
 .ae
 {
   /* border: 2px solid  rgb(152, 10, 247); */
   height: 200px;
    width: 280px;
    margin-left: 20px;
    margin-top: 23px;
 }
 .x
{
    border: 3px dotted  black;
    height: 400px;
    width: 600px;
    margin-left: 40px;
    margin-top: 120px;
    border-radius: 20px;
}
.ba
{
   /* border: 2px solid  rgb(247, 164, 10); */
   height: 500px;
    width: 100%;
   
}
.bc
{
   /* border: 2px solid  rgb(10, 247, 69); */
   height: 35px;
    width: 400px;
    margin:auto;
    margin-top: 90px;
}
.bd
{
   /* border: 2px solid  rgb(247, 10, 109); */
   height: 50px;
    width: 300px;
    margin:auto;
    margin-top: 10px;
    display: flex;
    background-color:rgb(193, 211, 254);
    border-radius: 30px;
    text-align: center;
}
.bd,button{
   color: rgb(255, 153, 0);
   border-radius: 45px;
   margin-top: 8px;
   
   
}
.cnt,button
{
   font-size: 20px;   transition: all .3s linear;  width: 130px;height: 40px;margin-top: 16px;   border-radius: 20px;color: white;background-color: orange;margin: 5px 84px;
}
.cnt,button:hover{
/* cursor: pointer;
background-color: #b620dc;;
color: white; */
}

.snt
{
   font-size: 20px;   transition: all .3s linear;      width: 165px;
   height: 40px;margin-top: 16px;   border-radius: 20px;color: white;background-color: orange;    margin: 10px 445px;
}
.snt:hover{
cursor: pointer;
background-color: #b620dc;;
color: white;
}

.be,button
{
   font-size: 20px;   transition: all .3s linear;  width: 130px;height: 40px;margin-top: 16px;   border-radius: 20px;color: white;background-color: orange;
}
.be,button:hover{
cursor: pointer;
background-color: #b620dc;;
color: white;
}




input
{
   height: 30px;
   width: 200px;
   margin-left: 430px;
   margin-top: 10px;
}
.ca
{
   /* border: 2px solid black; */
   height: 70px;
   width: 100%;
   background-color:darkorange;
}
.cb
{
   /* border: 2px solid rgb(252, 5, 5); */
   height: 400px;
   width: 100%;
   display: flex;
   background-color: black;
}
.cc
{
   /* border: 2px solid rgb(76, 15, 173); */
   height: 100px;
   width: 560px;
   margin-top: 60px;
   margin-left: 100px;
}
a{
   color: white;
   margin-left: 20px;
   font-size: 18px;
   text-decoration: none;
}
a:hover
{
   color: orange;
   cursor: pointer;
}
.ce
{
   /* border: 2px solid rgb(15, 149, 173); */
   height: 200px;
   width: 270px;
   margin-top: 60px;
   margin-left: 60px
}
.cf
{
   /* border: 2px solid rgb(173, 99, 15); */
   height: 200px;
   width: 270px;
   margin-top: 60px;
   margin-left: 90px
}
.ww{
   /* border: 2px solid rgb(252, 5, 5); */
   height: 100px;
   width: 100%;
   display: flex;
   background-color: black;
}


